<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lansun.qmyo"
    android:versionCode="15"
    android:versionName="1.3.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    

    <application
        android:name="com.lansun.qmyo.app.App"
        android:allowBackup="true"
        android:icon="@drawable/icon_redpack"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        
	     <!-- 包名为 com.qmyo.activity 本人(Yeun's PC上)申请开发模式下的高德地图的key -->
	     <!--    <meta-data
	            android:name="com.amap.api.v2.apikey"
	            android:value="fa0aa51b559886e355075a4c8697a35b" />  -->
       <!--  包名为 com.qmyo.activity 本人(Yeun's LansunCorp  PC上)申请开发模式下的高德地图的key -->
   	   <!--<meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7b6ab7010e05188877fb2c29dff0240c" /> -->
       
       
       <!--  包名为com.lansun.qmyo 本人(Yeun's LansunCorp  PC上)申请开发模式下的高德地图的key -->
       <!--   <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e5b6027255bb77d1aa285e5cec53c134" />  
        -->
         <!--  包名为com.lansun.qmyo 本人(Yeun's  PC上)申请开发模式下的高德地图的key -->
      <!--  <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="" />  -->
        
        
        <!--  包名为com.lansun.qmyo  申请    发布版本模式下的高德地图的key -->
	    <meta-data
	            android:name="com.amap.api.v2.apikey"
	            android:value="a81d22502d5958d33c95c7e32f97c656" /> 
	           
	   
	    <!-- 后台开启的高德定位服务 -->
        <service
                 android:name="com.lansun.qmyo.service.LocationService"
                 android:exported="false" />   
	       
       
        <!-- 友盟的元数据 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55caee7de0f55adead002d2d" >
        </meta-data>

        <!-- 友盟社会化分享的界面 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
        </activity>
        
        <!-- 腾讯分享的辅助界面 -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        
        <activity
            android:name="com.lansun.qmyo.MainActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
             ><!--  android:excludeFromRecents="true"
             android:windowSoftInputMode="adjustResize|stateAlwaysHidden"-->
        </activity>
        
        <!-- 抢红包的 分享页面  -->
        <activity
            android:name="com.lansun.qmyo.GrabRedPackActivity"
            android:hardwareAccelerated="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/GrabActivityTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"><!--  android:hardwareAccelerated="true" -->
        </activity>
        
        <activity
            android:name="com.lansun.qmyo.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity><!--android:launchMode="singleTask"  -->

        <service android:name="com.lansun.qmyo.service.AccessTokenService" />

        <!-- 关于微信分享的Activity -->
        <activity
            android:name="com.lansun.qmyo.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver android:name="com.lansun.qmyo.receiver.NetWorkChangeBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        
         <activity android:name="com.ns.mutiphotochoser.GalleryActivity" 
              android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="com.ns.mutiphotochoser.sample.action.CHOSE_PHOTOS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> 

        
        
        
        <!-- 推送相关 -->
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.lansun.qmyo" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- 极光推送 Required SDK 核心功能 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- 极光推送  Required SDK 核心功能 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.lansun.qmyo" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.lansun.qmyo" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        
        <receiver android:name="com.lansun.qmyo.receiver.PushReceiver" 
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.lansun.qmyo" />
            </intent-filter>
        </receiver>

       <!-- 此值来自Daniel开发者平台取得的AppKey  --> 
       <!--  <meta-data android:name="JPUSH_CHANNEL"  android:value="developer-default" />
             <meta-data  android:name="JPUSH_APPKEY"  android:value="7887c096de38ea1ff7f47ed5" /> --> 
     
	     <!--  </>此值来自 Yeun 开发者平台取得的AppKey--> 
	     <!-- Required  . Enable it you can get statistics data with channel -->
        <!-- <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="6b048cb9d68d81477c666a16" />     -->
            
         <!-- 此值来自 以com.lansun.qmyo作为标示并正式上线  开发者平台取得的AppKey--> 
	     <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="dec54ebb0514c3529b7f99ae" />
           
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true" />

    <permission
        android:name="com.lansun.qmyo.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.lansun.qmyo.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    
    <!-- 讯飞语音涉及到的权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

</manifest>
